<ion-view view-title="Optimal Sales">
<div class="fixed-header">
	<a class="item item-thumbnail-left pd0">
		<div class="row">
			<div class="col col-70">
				<h2 class="cname">{{cname}}</h2>
				<span class="caddress">{{caddress}}</span>
			</div>
			<div class="col col-30" style="text-align: right;">
				<button class="button button-dark icon ion-home" ng-click="modal.show()"></button>
				<button class="button button-positive icon ion-funnel"></button>
			</div>
		</div>
	</a>
	<label class="item item-input">
		<i class="icon ion-search placeholder-icon"></i>
		<input type="text" placeholder="Хайлт" ng-model="productSearch.name">
	</label>
</div>
<ion-content has-header="true" class="ion-content-below" style="padding-bottom:20px;">
<ion-refresher
    pulling-text="Доошоо чирж мэдээллээ шинэчлэх..."
    on-refresh="refreshProduct()">
</ion-refresher>
<div class="list product_list">
    <a class="item item-thumbnail-left pd0" ng-repeat="item in product | filter:productSearch" id="item{{active_id}}{{item.id}}">
		<div class="row pd0" ng-click="expand(item,this)">
			<div class="col-15"><img src="{{host}}/img/{{item.img}}" class="product_img"></div>
			<div class="col col-50">
				<h2 class="product_title text-left">{{item.name}} ({{item.price | currency: "₮ "}})</h2>
				<p style="margin-bottom:20px;"><span class="status green">Боломжит : {{item.available | number:0}}</span></p>
			</div>			
			<div class="col col-35" style="text-align: right;">								
				<span class="status colored" style="display: block; margin-bottom: 5px;">{{item.total_qty | number: 2}}</span>				
				<span class="status colored" style="display: block;">{{item.total | number: 2}}</span>				
			</div>			
	    </div>		
	    <div class="list calculator pd0" id="calc{{active_id}}{{item.id}}" data-st="0">
		  <div class="item item-input-inset pd0">
			<label class="item-input-wrapper col-50">
			  <ion-label color="primary" style="width: 80px;">Ширхэг</ion-label>
			  <input type="number" placeholder="Ширхэг" ng-change="change(item)" ng-model="item.qty" style="background: #fff; width:100%;; font-size: 20px;border:black solid 1px;">
			</label>
			<span class="" style="text-align:right;">
				<button class="button button-energized icon ion-plus" ng-click="plus_qty(item)"></button>
				<button class="button button-positive icon ion-minus" ng-click="minus_qty(item)"></button>
				<button class="button button-assertive icon ion-ios-close-outline" ng-click="reset_qty(item)"></button>
			</span>
		  </div>
		  <div class="item item-input-inset pd0">
			<label class="item-input-wrapper col-50">
			  <ion-label color="primary" style="width: 80px;">Хайрцаг</ion-label>
			  <input type="number" placeholder="Хайрцаг" ng-change="change(item)" ng-model="item.pty" style="background: #fff; width:100%; font-size: 20px; border:black solid 1px;">
			</label>
			<span class="" style="text-align:right;">
			<button class="button button-energized icon ion-plus" ng-click="plus_pty(item)"></button>
			<button class="button button-positive icon ion-minus" ng-click="minus_pty(item)"></button>
			<button class="button button-assertive icon ion-ios-close-outline" ng-click="reset_pty(item)"button>
			</span>
		  </div>		 
		</div>
    </a>
</div>
</ion-content>
<ion-floating-button class="hide-on-keyboard-open" ng-click="prepareSale(product)" has-footer="false" button-color="#2AC9AA" icon="ion-checkmark-round" icon-color="#fff"></ion-floating-button>
</ion-view>
