<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
	  <ion-nav-bar class="bar-positive">

		<ion-nav-buttons side="left">
		  <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		  </button>
		</ion-nav-buttons>
	  </ion-nav-bar>

	  <ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left">
	  <ion-header-bar class="bar-assertive">
		<h1 class="title">Үндсэн цэс</h1>
	  </ion-header-bar>
	  <ion-content>
		<div class="list">
		  <!--<a class="item item-icon-left" href="#/oss/attendees">
			<i class="icon ion-ios-list-outline"></i>
			Бэлэн борлуулалт
		  </a>-->
		  
		  <a class="item item-icon-left" href="#/oss/check-in">
			<i class="icon ion-compose"></i>
			Захиалга
		  </a>

		  <!--
		  <a class="item item-icon-left" href="#">
			<i class="icon ion-ios-list"></i>
			Зээлийн борлуулалт
		  </a>
		  -->
		
		<!--	
		  <a class="item item-icon-left" href="#">
			<i class="icon ion-ios-list"></i>
			Нийт
			<span class="badge badge-assertive">0</span>
		  </a>
		  <a class="item item-icon-left" href="#">
			<i class="icon ion-ios-paper-outline"></i>
			Тушаах
		  </a>
		-->  
		  <a class="item item-icon-left" href="#">
			<i class="icon ion-ios-paper"></i>
			Төлөвлөгөө гүйцэтгэл
		  </a>
		  <a class="item item-icon-left" href="#">
			<i class="icon ion-ios-color-wand"></i>
			Урамшуулал
		  </a>
		  <a class="item item-icon-left" href="#">
			<i class="icon ion-pie-graph"></i>
			Тайлан
		  </a>
		  <a class="item item-icon-left" ng-click="logout()">
			<i class="icon ion-power"></i>
			Гарах
		  </a>

		</div>
	  </ion-content>
	</ion-side-menu>
</ion-side-menus>