<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
	  <h1 class="title">Баримт</h1>
	  <button class="button button-clear button-primary" ng-click="padaan.hide()">Буцах</button>
	</ion-header-bar>
	<ion-content class="padding">
		<ion-list>
			<ion-item class="nb" style="background: #e5e5e5;">
				<div class="row pd0">
					<div class="col col-50">
						<h2 class="customer-title">{{cname}}</h2>
						<span class="customer_address">{{plist.length}} бараа {{order.amount | currency:"₮ "}}</span>
					</div>
					<div class="col text-right"><button class="button icon ion-printer"></button></div>
				</div>
			</ion-item>
			<ion-item class="pd0 nb">
				<div class="row pd0">
					<div class="col col-50 f12 text-left">
						<span style="font-size:14px;">{{company}}</span><br/>
						
					</div>
					<div class="col col-50 f12 text-right">
						{{fname}} {{phone}}<br/>
						{{order.createdDate}}
					</div>
				</div>
				<div class="row pd0">
					<div class="col f12 text-left;">Барааны нэр</div>
					<div class="col f12 text-right">Тоо ширхэг</div>
					<div class="col f12 text-right">Үнэ</div>
					<div class="col f12 text-right">Дүн</div>
				</div>
			</ion-item>
			<ion-item class="row pd0 nb">
				<div class="row pd0 nb">
				<hr/>
				</div>
			</ion-item>
			<ion-item ng-repeat="item in PadaanList" class="pd0 nb">
				<div class="row pd0">
					<div class="col f12 text-left">{{item.name}}</div>
					<div class="col f12 text-right">{{item.qty | number:0}}</div>
					<div class="col f12 text-right">{{item.price | currency:"₮ "}}</div>
					<div class="col f12 text-right">{{item.amount | currency:"₮ "}}</div>
				</div>
			</ion-item>
			<ion-item class="row pd0 nb">
				<div class="row pd0 nb">
					<hr/>
				</div>
			</ion-item>
			<ion-item class="row pd0 nb">
				<div class="row pd0">
					<div class="col f12 text-left;">Нийт</div>
					<div class="col f12 text-right"></div>
					<div class="col f12 text-right"></div>
					<div class="col f12 text-right">{{order.amount | currency:"₮ "}} </div>
				</div>
			</ion-item>
			<ion-item class="row pd0 nb">
				<div class="row pd0">
					<div class="col col-50 f12 text-left">X.avsan</div>
					<div class="col col-50 f12 text-right">.............</div>
				</div>
			</ion-item>
			<ion-item class="row pd0 nb">
				<div class="row pd0">
					<div class="col col-50 f12 text-left">X.ugsun</div>
					<div class="col col-50 f12 text-right">.............</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
	<ion-floating-button ng-click="ordersave()" has-footer="false" button-color="#2AC9AA" icon="ion-paper-airplane" icon-color="#fff"></ion-floating-button>
	
</ion-modal-view>