<style>
    .angular-google-map-container { height: 700px; }
</style>
<div class="container-full">
    <div class="row">
        <div class="col-sm-2">
            <div data-ng-include="'template/left.html'"></div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="mod-white">
                <div class="title">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Газрын зураг
                        </div>
                        <div class="col-sm-2">
                            <select class="form-control input-sm" data-ng-model="search.value" style="height: 29px;">
                                <option data-ng-repeat="item in users" value="{{item.id}}">{{item.firstName}}</option>
                            </select>
                        </div>
                        <div class="col-md-4" style="text-align: right;">
                            <div class="input-group">
                                <input type="text" class="form-control input input-sm" name="daterange" value="" id="range"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-sm btn-primary" type="button" ng-click="find(true)"><span class="glyphicon glyphicon-search"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-round">
                                    <table id="data">
                                        <thead>
                                            <tr>
                                                <td style="width:50%">Харилцагч</td>
                                                <td style="width:50%">Огноо</td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="item in list" data-ng-click="center(item)">
                                                <td>{{item.customer.name}}</td>
                                                <td>{{item.createdDate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-6">
                                <div  style="float: left;">
                                    <span style="font-weight: bold;">Нийт: {{total || 0 |  number:0}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="pageable">
                                    <pagination  style="margin: 0" ng-change="find()" page-label="0" items-per-page="size" boundary-links="true" total-items="total" max-size="size" ng-model="page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-8">
                        <div class="table-round">
                            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
                                <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" icon="m.icon" idkey="m.id"
                                                options="{labelClass:'marker_labels',labelAnchor:'55 70',labelContent:m.title}"></ui-gmap-marker>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            </div>
        </div>
    </div>
</div>
<div id="pricetag_modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <div class="pull-right white-color pointer" data-dismiss="modal" aria-hidden="true"
                     style="margin-top: 4px;"><span class="glyphicon glyphicon-remove"></span></div>
                <h4 class="modal-title">Үнийн төрөл нэмэх</h4>
            </div>
            <div class="modal-body">
                <div style="font-size:13px;text-align: justify;">
                    <form class="form-horizontal" role="form" name="userForm">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Код</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" disabled data-ng-model="selectedPricetag.id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Нэр</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" data-ng-model="selectedPricetag.tagName">
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-sm-12">
                                <button style="margin-right:15px;" type="submit" class="btn btn-sm btn-blue-flat pull-right" data-ng-click="update_pricetag(selectedPricetag)">Хадгалах</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pricetag_modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <div class="pull-right white-color pointer" data-dismiss="modal" aria-hidden="true"
                     style="margin-top: 4px;"><span class="glyphicon glyphicon-remove"></span></div>
                <h4 class="modal-title">Агуулах нэмэх</h4>
            </div>
            <div class="modal-body">
                <div style="font-size:13px;text-align: justify;">
                    <form class="form-horizontal" role="form" name="userForm">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Код</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" disabled data-ng-model="selectedWarehouse.id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Нэр</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" data-ng-model="selectedWarehouse.name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-sm-12">
                                <button style="margin-right:15px;" type="submit" class="btn btn-sm btn-blue-flat pull-right" data-ng-click="update_warehouse(selectedWarehouse)">Хадгалах</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>