<style>
    .angular-google-map-container { height: 700px; }
</style>
<div class="container-full">
    <div class="row">
        <div class="col-sm-2">
            <div data-ng-include="'template/left.html'"></div>
        </div>
        <div class="col-sm-10">
            <div class="mod-white">
                <div class="title">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-map-marker"></span>&nbsp;Газрын зураг
                        </div>
                        <div class="col-sm-6" style="text-align: right;">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="row">
                            <div class="col-md-4">
                                <select class="form-control input-sm" data-ng-model="search.value" style="height: 29px;">
                                    <option data-ng-repeat="item in users" value="{{item.id}}">{{item.firstName}}</option>
                                </select>
                            </div>
                            <div class="col-md-8 col-xs-12">
                                <div class="input-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control input input-sm" ng-model="search.daterange" name="daterange" id="range"/>
                                        <span class="input-group-btn">
                                                <button class="btn btn-sm btn-primary" type="button" ng-click="find()"><span class="glyphicon glyphicon-search"></span></button>
                                            </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <br/>
                            <table id="data">
                                <thead>
                                <tr>
                                    <td style="width:5%">Хэрэглэгч</td>
                                    <td style="width:85%">Орох цэгийн тоо</td>
                                    <td style="width:10%">Орсон</td>
                                    <td style="width:10%">Огноо</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="item in list">
                                    <td>{{item.userId}}</td>
                                    <td>{{item.customerId}}</td>
                                    <td>{{item.lat}} , {{item.lng}}</td>
                                    <td style="text-align:center;">
                                       {{item.date}}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <div class="table-round">
                            <ui-gmap-google-map center="map.center" zoom='map.zoom'>
                                <ui-gmap-polyline ng-repeat="p in polylines" path="p.path" stroke="p.stroke" visible='p.visible'
                                                  geodesic='p.geodesic' fit="false" editable="p.editable" draggable="p.draggable" icons='p.icons'></ui-gmap-polyline>
                            </ui-gmap-google-map>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<div id="pricetag_modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <div class="pull-right white-color pointer" data-dismiss="modal" aria-hidden="true"
                     style="margin-top: 4px;"><span class="glyphicon glyphicon-remove"></span></div>
                <h4 class="modal-title">Үнийн төрөл нэмэх</h4>
            </div>
            <div class="modal-body">
                <div style="font-size:13px;text-align: justify;">
                    <form class="form-horizontal" role="form" name="userForm">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Код</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" disabled data-ng-model="selectedPricetag.id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Нэр</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" data-ng-model="selectedPricetag.tagName">
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-sm-12">
                                <button style="margin-right:15px;" type="submit" class="btn btn-sm btn-blue-flat pull-right" data-ng-click="update_pricetag(selectedPricetag)">Хадгалах</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="pricetag_modal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <div class="pull-right white-color pointer" data-dismiss="modal" aria-hidden="true"
                     style="margin-top: 4px;"><span class="glyphicon glyphicon-remove"></span></div>
                <h4 class="modal-title">Агуулах нэмэх</h4>
            </div>
            <div class="modal-body">
                <div style="font-size:13px;text-align: justify;">
                    <form class="form-horizontal" role="form" name="userForm">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Код</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" disabled data-ng-model="selectedWarehouse.id">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Нэр</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" data-ng-model="selectedWarehouse.name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-sm-12">
                                <button style="margin-right:15px;" type="submit" class="btn btn-sm btn-blue-flat pull-right" data-ng-click="update_warehouse(selectedWarehouse)">Хадгалах</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>