<div class="mod">
    <ul id="menu">
        <li data-ng-click="url('/dashboard_init')" id="dashboard_init"><span class="glyphicon glyphicon-th-large"></span>&nbsp;&nbsp;&nbsp;&nbsp;Хянах самбар</li>
        <li data-ng-click="url('/order_list')" id="order_list"><span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Захиалгууд</span> <span style="float:right;" class="badge alert-success">{{new_order}}</span></li>
        <li data-ng-click="url('/warehouse_list')" id="warehouse_list"><span class="glyphicon glyphicon-modal-window"></span>&nbsp;&nbsp;&nbsp;&nbsp;Агуулах</li>
        <li data-ng-click="url('/plan_list')" id="plan_list"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;&nbsp;&nbsp;&nbsp;Төлөвлөгөө</li>
        <li data-ng-click="url('/customer_list')" id="customer_list"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;&nbsp;&nbsp;Харилцагчид <span style="float:right;" class="badge alert-success">{{new_customer}}</span></li>
        <li data-ng-click="url('/product_list')" id="product_list"><span class="glyphicon glyphicon-gbp"></span>&nbsp;&nbsp;&nbsp;&nbsp;Бараа бүтээгдэхүүн</li>
        <li data-ng-click="url('/user_list')" id="user_list"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;&nbsp;&nbsp;Борлуулагчид</li>
        <li data-ng-click="url('/promotion_list')" id="promotion_list"><span class="glyphicon glyphicon-star"></span>&nbsp;&nbsp;&nbsp;&nbsp;Урамшуулал</li>
        <li data-ng-click="url('/map_init')"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;&nbsp;&nbsp;&nbsp;Газрын зураг</li>
        <li data-ng-click="url('/report_init')"><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;&nbsp;&nbsp;Тайлангууд</li>
        <li data-ng-click="url('/settings_init')"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;&nbsp;&nbsp;Бусад тохиргоо</li>
        <li><span class="glyphicon glyphicon-flag"></span>&nbsp;&nbsp;&nbsp;&nbsp;Заавар тусламж</li>
    </ul>
</div>
