<div class="container-full">
    <div class="row">
        <div class="col-sm-2">
            <div data-ng-include="'template/left.html'"></div>
        </div>
        <div class="col-sm-10">
            <div class="row">
                <div class="mod-white">
                    <div class="title">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Ирсэн хүсэлтүүд
                        </div>
                    </div>
                </div>
                    <div class="row">
                    <div class="col-sm-12">
                        <div class="table-round">
                            <table id="data">
                            <thead>
                            <tr>
                                <td style="width:11%;">No</td>
                                <td style="width:13%">Харилцагч</td>
                                <td style="width:9%">Борлуулагч</td>
                                <td style="width:5%;text-align: right;">Тоо</td>
                                <td style="width:9%;text-align: right;">Дүн</td>
                                <td style="width:9%;">Төлөв</td>
                                <td style="width:10%;">Агуулах</td>
                                <td style="width:12%">Үүссэн</td>
                                <td style="width:12%">Өөрчилсөн</td>
                                <td style="width:5%;text-align:center;">Үйлдэл</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="item in list" data-ng-click="dialog(item)">
                                <td><span class="label label-{{item.mode=='orlogo'?'success':'primary'}}">{{item.orderId}}</span></td>
                                <td>{{item.customer.name}}</td>
                                <td>{{item.user.firstName}}</td>
                                <td style="text-align: right;">{{item.qty |  number: 0}}</td>
                                <td style="text-align: right;">{{item.amount |  currency: "₮ "}}</td>
                                <td><span class="label label-{{item.status}}">{{statusName[item.status]}}</span></td>
                                <td>{{item.warehouse.name}}</td>
                                <td>{{item.createdDate}}</td>
                                <td>{{item.confirmDate}}</td>
                                <td style="text-align:center;">
                                    <a data-ng-click="dialog(item)"><span class="glyphicon glyphicon-pencil"></span></a>
                                    &nbsp;&nbsp;
                                    <a data-ng-click="delete(item)"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div  style="float: left;">
                                <span style="font-weight: bold;">Нийт: {{total || 0 |  number:0}}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="pageable">
                                <pagination  style="margin: 0" ng-change="findNew()" page-label="0" items-per-page="size" boundary-links="true" total-items="total" max-size="size" ng-model="page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="mod-white">
                    <div class="title">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="glyphicon glyphicon-chevron-right"></span>&nbsp;Нийт хүсэлтүүд
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <select class="form-control input-sm" data-ng-model="search.user">
                                            <option data-ng-repeat="item in users" value="{{item.id}}">{{item.firstName}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control input input-sm" name="daterange" value="01/01/2015 - 01/31/2015"/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-primary" type="button" ng-click="findOld(true)"><span class="glyphicon glyphicon-search"></span></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-round">
                                <table id="data">
                                <thead>
                                <tr>
                                    <td style="width:11%;">No</td>
                                    <td style="width:13%">Харилцагч</td>
                                    <td style="width:9%">Борлуулагч</td>
                                    <td style="width:5%;text-align: right;">Тоо</td>
                                    <td style="width:9%;text-align: right;">Дүн</td>
                                    <td style="width:9%;">Төлөв</td>
                                    <td style="width:10%;">Агуулах</td>
                                    <td style="width:12%">Үүссэн</td>
                                    <td style="width:12%">Өөрчилсөн</td>
                                    <td style="width:5%;text-align:center;">Үйлдэл</td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="item in old">
                                    <td><span class="label label-default">{{item.orderId}}</span></td>
                                    <td>{{item.customer.name}}</td>
                                    <td>{{item.user.firstName}}</td>
                                    <td style="text-align: right;">{{item.qty |  number: 0}}</td>
                                    <td style="text-align: right;">{{item.amount |  currency: "₮ "}}</td>
                                    <td><span class="label label-{{item.status}}">{{statusName[item.status]}}</span></td>
                                    <td>{{item.warehouse.name}}</td>
                                    <td>{{item.createdDate}}</td>
                                    <td>{{item.confirmDate}}</td>
                                    <td style="text-align:center;">
                                        <a data-ng-click="dialog(item)"><span class="glyphicon glyphicon-pencil"></span></a>
                                        &nbsp;&nbsp;
                                        <a data-ng-click="delete(item)"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <div  style="float: left;">
                                <span style="font-weight: bold;">Нийт: {{oldtotal || 0 |  number:0}}</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="pageable">
                                <pagination  style="margin: 0" ng-change="findOld()" page-label="0" items-per-page="size" boundary-links="true" total-items="oldtotal" max-size="size" ng-model="page" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center;">
                <div class="pull-right white-color pointer" data-dismiss="modal" aria-hidden="true"
                     style="margin-top: 4px;"><span class="glyphicon glyphicon-remove"></span></div>
                <h4 class="modal-title">Захилагын дэлгэрэнгүй</h4>
            </div>
            <div class="modal-body">
                <div style="font-size:13px;text-align: justify">
                    <form class="form-horizontal" role="form" name="userForm">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">ID</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" data-ng-model="selected.orderId" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Төрөл</label>
                                <div class="col-sm-8">
                                    <select data-ng-model="selected.mode" class="form-control input input-sm" disabled>
                                        <option value="orlogo">Орлого</option>
                                        <option value="zarlaga">Зарлага</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" ng-show="selected.mode=='zarlaga'?true:false">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Харилцагч</label>
                                <div class="col-sm-8">
                                   <input type="text" class="form-control input input-sm" data-ng-model="selected.customer.name" disabled>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Борлуулагч</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control input input-sm" disabled data-ng-model="selected.user.firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Нийт тоо</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control input input-sm" disabled data-ng-model="selected.qty">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Нийт дүн</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control input input-sm" disabled data-ng-model="selected.amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Төлөв</label>
                                <div class="col-sm-8">
                                    <select data-ng-model="selected.status" class="form-control input input-sm">
                                        <option value="info">Шинэ хүсэлт</option>
                                        <option value="success">Зөвшөөрсөн</option>
                                        <option value="alert">Буцаасан</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 col-md-4 col-lg-4 control-label">Агуулах</label>
                                <div class="col-sm-8">
                                    <select class="form-control input-sm" data-ng-model="selected.warehouseId">
                                        <option data-ng-repeat="item in warehouses" value="{{item.id}}">{{item.name}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="table-round">
                                <table id="data">
                                <thead>
                                    <tr>
                                        <td style="width:40px;">No</td>
                                        <td style="width:40%">Барааны нэр</td>
                                        <td style="width:10%;text-align: right;">Тоо</td>
                                        <td style="width:20%;text-align: right;">Үнэ</td>
                                        <td style="width:30%;text-align: right;">Amount</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-ng-repeat="item in selected.detailsList">
                                        <td>{{item.id}}</td>
                                        <td>{{item.product.name}}</td>
                                        <td style="text-align: right;">{{item.qty | number:0}}</td>
                                        <td style="text-align: right;">{{item.price | currency:"₮ "}}</td>
                                        <td style="text-align: right;">{{item.amount | currency:"₮ "}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                        </div>

                        <div class="form-group ">
                            <div class="col-sm-12">
                                <button style="margin-right:15px;" type="submit" class="btn btn-sm btn-blue-flat pull-right" data-ng-click="update(selected)">Хадгалах</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
